@import "reset.css";
.my-link {
  color: #000;
  font-weight: 500;
}
/*
.freedoka_font();
.raleway_font();
.ptserif_font();
.quicksand_font();
*/
.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}
.header__top {
  z-index: 2;
  font-family: 'Quicksand', sans-serif;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
.header__top::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff8230), to(#ff6726));
  background: -o-linear-gradient(#ff8230, #ff6726);
  background: linear-gradient(#ff8230, #ff6726);
  position: absolute;
  z-index: 2;
}
.header__top-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 48px;
}
.header__logo {
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-right: 18px;
  position: relative;
  z-index: 3;
}
.header__burger {
  display: none;
  width: 30px;
  height: 20px;
  position: relative;
  z-index: 3;
}
.header__burger::before,
.header__burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #ffffff;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.header__burger::before {
  top: 0;
}
.header__burger::after {
  bottom: 0;
}
.header__burger.active::before {
  top: calc(50% - 1px);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.header__burger.active::after {
  bottom: calc(50% - 1px);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.header__burger.active .header__burger-line {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.header__burger-line {
  position: absolute;
  width: 100%;
  height: 2px;
  background: #ffffff;
  top: calc(50% - 1px);
  left: 0;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.header__nav {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  position: relative;
  z-index: 3;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__menu-item {
  margin-right: 39px;
  position: relative;
  line-height: 46px;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}
.header__menu-item:last-child {
  margin-right: 0px;
}
.header__menu-link {
  color: #ffffff;
  display: block;
  border-top: 2px solid transparent;
}
.header__menu-link:hover {
  color: #ffea00;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  border-top: 2px solid #ffea00;
}
.header__card {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 3;
}
.header__basket {
  font-family: 'PT Serif', serif;
  font-size: 14px;
  font-style: italic;
  color: #ffea00;
  margin-right: 5px;
}
.header__basket a {
  color: inherit;
}
.header__count {
  font-size: 14px;
  font-weight: 700;
  margin-right: 10px;
  border-right: 1px dotted #ffffff;
  padding-right: 10px;
}
.header__cost {
  font-size: 16px;
  font-weight: 700;
}
.arrow-menu {
  position: absolute;
  top: 4%;
  left: 100%;
  color: #ffffff;
  padding: 0 6px;
  display: none;
}
.main-logo__image {
  width: 153px;
  height: 47px;
  -o-object-fit: contain;
  object-fit: contain;
}
.basket__icon {
  margin-right: 5px;
}
.basket__link {
  text-decoration: underline;
}
.sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 35px 30px 27px 25px;
  background: #ffffff;
  -webkit-box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.07);
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.07);
  display: none;
}
.sub-menu::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 25%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 4.5px 5px 4.5px;
  border-color: transparent transparent #fff transparent;
}
.sub-menu__item {
  margin-bottom: 25px;
  line-height: 12px;
}
.sub-menu__item:last-child {
  margin-bottom: 0px;
}
.sub-menu__link {
  color: #7b7a79;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color 300ms ease-in-out;
  -o-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
  display: block;
}
.sub-menu__link:hover {
  color: #ff742b;
  -webkit-transition: color 300ms ease-in-out;
  -o-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}
ul.slick-dots {
  position: absolute;
  top: calc(50% + 48px);
  left: 40px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}
ul.slick-dots li {
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
}
ul.slick-dots li:last-child {
  margin-bottom: 0px;
}
ul.slick-dots li.slick-active button {
  background: rgba(0, 0, 0, 0.4);
}
ul.slick-dots li button {
  background: none;
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.home-slider {
  padding-top: 48px;
  position: relative;
  z-index: 1;
}
.home-slider__slide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 99px;
  padding-bottom: 28px;
}
.home-slider__title {
  font-size: 68px;
  color: #ffffff;
  line-height: 81px;
  font-weight: 400;
  text-shadow: 7px 9px 0 rgba(0, 0, 0, 0.07);
}
.main-title {
  font-family: 'Fredoka One', cursive;
  text-align: center;
}
.body-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.body-slider__text {
  padding-left: 80px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 339px;
  flex: 0 0 339px;
  position: relative;
  z-index: 2;
}
.body-slider__title {
  font-family: 'Fredoka One', cursive;
  font-size: 24px;
  font-weight: 400;
  color: #ffea00;
  line-height: 24px;
  margin-bottom: 22px;
}
.body-slider__discription {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
  line-height: 24px;
  margin-bottom: 27px;
}
.body-slider__cite {
  font-family: 'PT Serif', serif;
  font-size: 23px;
  font-style: italic;
  color: #ffffff;
  line-height: 28px;
}
.body-slider__image {
  z-index: 1;
  margin-left: -93px;
  position: relative;
  width: 488px;
  height: 375px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.body-slider__image img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.body-slider__price {
  position: absolute;
  top: 55%;
  left: 92%;
}
.image-price {
  width: 143px;
  height: 143px;
  border-radius: 100%;
  background: #4ba321;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.image-price__icon {
  font-family: 'Fredoka One', cursive;
  color: #ffea00;
  font-weight: 400;
  font-size: 54px;
  text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.07);
}
.about {
  padding-top: 53px;
  padding-bottom: 65px;
  color: #a07258;
}
.about__container {
  padding: 0 9%;
  text-align: center;
}
.about__title {
  font-size: 54px;
  padding-bottom: 20px;
  display: inline-block;
  border-bottom: 1px solid #a07258;
  margin-bottom: 22px;
}
.about__description {
  font-size: 23px;
  line-height: 27px;
  margin-bottom: 29px;
  letter-spacing: 0.04em;
}
.about__text {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.06em;
}
.search {
  padding-bottom: 62px;
}
.search__box {
  width: 100%;
  height: 81px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.search__text {
  font-family: 'Fredoka One', cursive;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  margin-right: 14px;
}
.search__icon {
  color: #ffeb90;
  font-size: 22px;
}
input[type="text"].search__text-input {
  width: 81%;
  height: 100%;
  border-top: 3px solid #ffeb90;
  border-bottom: 3px solid #ffeb90;
  border-left: 3px solid #ffeb90;
  padding-left: 25px;
  padding-right: 5px;
  font-size: 22px;
  font-family: 'PT Serif', serif;
  color: #a07258;
}
input[type="text"].search__text-input::-webkit-input-placeholder {
  color: #a07258;
}
input[type="text"].search__text-input::-moz-placeholder {
  color: #a07258;
}
input[type="text"].search__text-input:-ms-input-placeholder {
  color: #a07258;
}
input[type="text"].search__text-input:-moz-placeholder {
  color: #a07258;
}
button[type="submit"].search__button {
  width: 19%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff6c22), to(#ff4817));
  background: -o-linear-gradient(#ff6c22, #ff4817);
  background: linear-gradient(#ff6c22, #ff4817);
  border-bottom: 3px solid #e94415;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
button[type="submit"].search__button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff4817), to(#ff6c22));
  background: -o-linear-gradient(#ff4817, #ff6c22);
  background: linear-gradient(#ff4817, #ff6c22);
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.blok-info__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.blok-info__video {
  width: 50%;
}
.blok-info__author {
  width: 50%;
}
.video-box {
  padding: 45px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #000;
  position: relative;
}
.video-box__images {
  height: 259px;
  width: 100%;
  opacity: 0.5;
}
.video-box__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 40px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 5px;
}
.video-box__link {
  color: #ffffff;
  margin-right: 20px;
}
.video-box__link:hover .video-box__icon {
  background: rgba(0, 0, 0, 0.5);
  font-size: 28px;
  -webkit-transition: background-color 300ms ease-in-out;
  -o-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
}
.video-box__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 88px;
  height: 88px;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.3);
  font-size: 24px;
  -webkit-transition: background-color 300ms ease-in-out;
  -o-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
}
.video-box__text {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.video-box__title {
  font-family: 'Fredoka One', cursive;
  font-size: 33px;
  font-weight: 400;
  line-height: 35px;
  margin-bottom: 10px;
}
.video-box__description {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}
.author-box {
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
  position: relative;
  overflow: hidden;
  color: #ffffff;
  font-family: 'PT Serif', serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px;
}
.author-box__quote {
  position: absolute;
  top: 43px;
  left: 0;
  margin-left: -22px;
  font-size: 78px;
  color: rgba(0, 0, 0, 0.15);
}
.author-box__body {
  width: 58%;
  padding-left: 12%;
}
.author-box__name {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 11px;
  display: block;
}
.author-box__position {
  font-family: 'Raleway', sans-serif;
  color: #b8ece8;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  margin-bottom: 17px;
  display: block;
}
.author-box__cite {
  font-style: italic;
  font-size: 13px;
  line-height: 24px;
  display: block;
}
.carousel__nav {
  height: 80px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff6c22), to(#ff4817));
  background: -o-linear-gradient(#ff6c22, #ff4817);
  background: linear-gradient(#ff6c22, #ff4817);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.carousel__nav-arrow {
  height: 100%;
  width: calc(56px * 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffcaae;
  background: #eb4516;
}
.carousel__nav-title {
  color: #ffffff;
  font-size: 43px;
}
.carousel-arrow__left {
  border-right: 1px solid #df4115;
}
.carousel-arrow__right,
.carousel-arrow__left {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 18px;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.carousel-arrow__right:hover,
.carousel-arrow__left:hover {
  color: #ffffff;
  cursor: pointer;
  background: #df4115;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.carousel-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffeb90;
  padding-right: 28px;
  font-size: 8px;
}
.carousel-category__text {
  font-family: 'PT Serif', serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}
.carousel-category__list {
  font-family: 'Quicksand', sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
  border-bottom: 1px dashed #ffffff;
  padding: 0 4px;
  margin-right: 4px;
}
.carousel-shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}
.carousel-shop__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  width: 25%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  height: 347px;
  overflow: hidden;
}
.carousel-shop__item:hover .carousel-shop__item-image {
  margin-top: -68px;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.carousel-shop__item-image {
  height: 252px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  border-right: 1px solid #f8f4f3;
  border-left: 1px solid #f8f4f3;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.carousel-shop__item-image img {
  display: block;
  width: 80%;
  height: 70%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
}
.carousel-shop__item-title {
  color: #686868;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-right: 1px solid #f8f4f3;
  border-left: 1px solid #f8f4f3;
  padding: 0 5px;
}
.carousel-shop__item-price {
  color: #000;
  font-size: 26px;
  font-weight: 400;
  line-height: 38px;
  font-family: 'Fredoka One', cursive;
  margin-bottom: 9px;
  width: 100%;
  border-right: 1px solid #f8f4f3;
  border-left: 1px solid #f8f4f3;
  padding: 0 5px;
  height: 38px;
  overflow: hidden;
}
.carousel-shop__item-btn {
  padding: 0 5px;
  overflow: hidden;
  color: #ffea00;
  font-size: 26px;
  width: 100%;
  background: none;
  background: #f74c2f;
  height: 68px;
  border-bottom: 3px solid #e7301e;
  -webkit-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;
}
.carousel-shop__item-btn:hover {
  background: #d32203;
  -webkit-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;
}
.carousel-shop__item-buy {
  font-family: 'Fredoka One', cursive;
  color: #ffffff;
  font-size: 28px;
  font-weight: 400;
  line-height: 28px;
}
.about-products__main {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 167px 20px 104px 20px;
}
.about-products__title {
  color: #ffffff;
  font-size: 43px;
  letter-spacing: 0.65em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 33px;
  margin-bottom: 27px;
  text-shadow: 7px 7px 0 rgba(0, 0, 0, 0.07);
}
.about-products__text {
  font-family: 'PT Serif', serif;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 32px;
}
.about-products__link {
  font-family: 'Quicksand', sans-serif;
  color: #ff742b;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  height: 34px;
  line-height: 34px;
  padding: 0 20px;
  border-radius: 16px;
  background: #fff;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.07);
  box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.07);
}
.about-products__link:hover {
  text-decoration: underline;
  background: #ece7e7;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.blog-testimonials__body {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.blog-testimonials__blog {
  width: 270px;
  padding: 0 40px;
  padding-top: 40px;
}
.blog-testimonials__testimonials {
  width: calc(100% - 270px);
}
.blog {
  text-align: center;
}
.blog__title {
  color: #ff742b;
  font-size: 63px;
  margin-bottom: 29px;
  display: block;
  text-decoration: none;
}
.blog__form-label {
  color: #ff742b;
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  margin-bottom: 15px;
  display: inline-block;
}
.blog__email {
  margin-bottom: 5px;
  position: relative;
}
.blog__email-input {
  color: #ffcaae;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  width: 100%;
  height: 36px;
  line-height: 36px;
  padding-left: 15px;
  padding-right: 30px;
  border-radius: 18px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f26023), to(#ff8130));
  background: -o-linear-gradient(#f26023, #ff8130);
  background: linear-gradient(#f26023, #ff8130);
}
.blog__email-button {
  position: absolute;
  top: 50%;
  right: 12px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: transparent;
  color: #fff;
}
.blog-article {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #f2f2f2;
}
.blog-article:last-child {
  border-bottom: none;
  padding-bottom: 0px;
}
.blog-article__image {
  width: 190px;
  height: 129px;
  margin-bottom: 18px;
}
.blog-article__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.blog-article__info {
  margin-bottom: 18px;
  color: #bdbcbb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  font-weight: 400;
}
.blog-article__icon-data {
  margin-right: 5px;
}
.blog-article__data {
  margin-right: 12px;
}
.blog-article__icon-message {
  margin-right: 5px;
}
.blog-item__description {
  font-family: 'PT Serif', serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #000;
  height: 36px;
  overflow: hidden;
  text-decoration: none;
}
.blog-item__description:hover {
  text-decoration: underline;
}
.blog-testimonials__testimonials {
  padding-top: 45px;
}
.testimonials {
  font-family: 'PT Serif', serif;
}
.testimonials__body {
  padding-bottom: 27px;
}
.testimonials__body-container {
  padding: 0 5.5%;
}
.testimonials__body-name {
  color: #000;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}
.testimonials__body-info {
  font-family: 'Raleway', sans-serif;
  color: #c5c3c2;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  margin-bottom: 17px;
  display: inline-block;
}
.testimonials__body-info-icon {
  margin-right: 10px;
}
.testimonials__body-text {
  color: #7b7a79;
  font-size: 22px;
  line-height: 30px;
  font-style: italic;
  min-height: 92px;
}
.testimonials__body-images {
  padding: 32px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.testimonials__body-images-link {
  height: 120px;
  width: 25%;
}
.testimonials__body-images-link img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden;
}
.testimonials__body-description {
  color: #7b7a79;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  min-height: 168px;
}
.testimonials__authors {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.testimonials__authors-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: calc(100% - 120px);
}
.testimonials__authors-box .slick-list {
  padding-top: 9px;
  margin-top: -9px;
}
.testimonials__authors-box .slick-list .slick-current .authors-item {
  position: relative;
}
.testimonials__authors-box .slick-list .slick-current .authors-item::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 12px 12px 12px;
  border-color: transparent transparent #fff3ef transparent;
}
.testimonials__authors-box .slick-list .slick-current .authors-item::after {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #fff transparent;
}
.testimonials__authors-box .slick-list .slick-current .authors-item__foto {
  border: 10px solid #ffefdc;
  -webkit-transition: border 1000ms ease-in-out;
  -o-transition: border 1000ms ease-in-out;
  transition: border 1000ms ease-in-out;
}
.testimonials__authors-arleft,
.testimonials__authors-arright {
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #fff3ef;
  color: #ff742b;
  font-size: 20px;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.testimonials__authors-arleft:hover,
.testimonials__authors-arright:hover {
  background: #3c901a;
  color: #ffffff;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
.testimonials__authors-item {
  width: 100%;
}
.authors-item {
  padding-top: 36px;
  padding-bottom: 28px;
  border-top: 3px solid #fff3ef;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}
.authors-item__foto {
  width: 126px;
  height: 126px;
  border-radius: 100%;
  overflow: hidden;
  border: 10px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 15px;
}
.authors-item__foto img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.authors-item__name {
  font-family: 'PT Serif', serif;
  color: #000;
  font-weight: 700;
  line-height: 16px;
  font-size: 16px;
  margin-bottom: 7px;
}
.authors-item__address {
  font-family: 'Raleway', sans-serif;
  color: #d4b8a9;
  font-weight: 400;
  line-height: 11px;
  font-size: 11px;
}
.our-products {
  padding-top: 40px;
}
.our-products__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.our-products__item {
  position: relative;
  width: 33.33333%;
  height: 235px;
  overflow: hidden;
  -webkit-box-shadow: 0 45px 50px -35px rgba(218, 45, 80, 0.45);
  box-shadow: 0 45px 50px -35px rgba(218, 45, 80, 0.45);
}
.our-products__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.our-products__item-text {
  position: absolute;
  top: 50%;
  left: 10.9%;
  margin-top: 3px;
  padding-right: 10px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  overflow: hidden;
}
.our-products__item-title {
  font-family: 'Fredoka One', cursive;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 2px;
}
.our-products__item-link {
  font-family: 'Quicksand', sans-serif;
  font-size: 10px;
  line-height: 10px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}
.our-products__item-link:hover {
  text-decoration: underline;
  color: #e4dcdc;
}
.bottom-block {
  padding-top: 71px;
  padding-bottom: 80px;
}
.bottom-block__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.bottom-block__navigation {
  width: 33.33333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.bottom-block__support {
  width: 50%;
}
.bottom-block__users {
  width: 50%;
}
.bottom-block__contacts {
  width: 33.33333%;
}
.bottom-block__twits {
  width: 33.33333%;
}
.nav-support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.nav-support__title {
  margin-bottom: 25px;
}
.bottom-title {
  font-family: 'Fredoka One', cursive;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: #ff742b;
  padding-right: 10px;
}
.bottom-list {
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
  line-height: 11px;
  font-weight: 400;
  color: #7b7a79;
  padding-right: 10px;
}
.bottom-item {
  margin-bottom: 13px;
}
.bottom-item:last-child {
  margin-bottom: 0px;
}
.bottom-link {
  text-decoration: none;
  color: inherit;
}
.bottom-link:hover {
  color: #575655;
  text-decoration: underline;
}
.nav-users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.nav-users__title {
  margin-bottom: 25px;
}
.contacts-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #7b7a79;
}
.contacts-info__title {
  margin-bottom: 13px;
}
.contacts-info__phone {
  font-family: 'Quicksand', sans-serif;
  font-size: 29px;
  line-height: 29px;
  font-weight: 700;
  margin-bottom: 17px;
  padding-right: 10px;
}
.contacts-info__phone-code {
  font-weight: 400;
  margin-right: 8px;
  letter-spacing: 4px;
}
.contacts-info__email {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  margin-bottom: 17px;
  text-decoration: none;
  color: inherit;
  padding-right: 10px;
}
.contacts-info__email:hover {
  text-decoration: underline;
  color: #4d4c4b;
}
.contacts-info__address {
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
  line-height: 11px;
  font-weight: 500;
  padding-right: 10px;
}
.contacts-info__address-icon {
  font-size: 11px;
  margin-right: 5px;
}
.contacts-info__address-country {
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  margin-right: 5px;
}
.twits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.twits__top {
  font-family: 'Fredoka One', cursive;
  color: #5ad2ff;
  font-size: 19px;
  line-height: 19px;
  font-weight: 400;
  text-decoration: none;
  margin-bottom: 27px;
  padding-right: 10px;
}
.twits__icon {
  font-size: 19px;
  margin-right: 10px;
}
.twits__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}
.twits__slider-arrows {
  font-size: 16px;
  color: #c1a392;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 18px;
}
.twits__slider-arrows-up {
  margin-bottom: 5px;
}
.twits__slider-messages {
  font-family: 'PT Serif', serif;
  color: #7b7a79;
  font-size: 13px;
  line-height: 18px;
  font-style: italic;
}
.twits__slider-text {
  height: 36px;
  overflow: auto;
  padding-right: 5px;
  padding-left: 17px;
  margin-left: -17px;
}
.twits__info {
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
  line-height: 11px;
  padding-left: 34px;
  padding-right: 10px;
}
.twits__info-name {
  font-weight: 700;
  color: #5ad2ff;
  margin-right: 5px;
  display: block;
}
.twits__info-time {
  font-weight: 400;
  color: #c5c3c2;
}
.footer {
  background: #ff742b;
  position: relative;
}
.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f95529), to(#fe6f2b));
  background: -o-linear-gradient(#f95529, #fe6f2b);
  background: linear-gradient(#f95529, #fe6f2b);
}
.footer-nav {
  padding: 38px 10px 36px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-bottom: 2px dashed rgba(255, 255, 255, 0.2);
}
.footer-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.footer-nav__item {
  font-family: 'Quicksand', sans-serif;
  color: #ffffff;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  margin-right: 31px;
  padding-right: 31px;
  position: relative;
}
.footer-nav__item::after {
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background: #ffffff;
  position: absolute;
  top: 50%;
  left: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.footer-nav__item:last-child {
  margin-right: 0px;
  padding-right: 0px;
}
.footer-nav__item:last-child::after {
  display: none;
}
.footer-nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.footer-nav__link:hover {
  color: #ffea00;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.footer-bottom {
  padding: 54px 10px 56px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.footer-bottom__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.footer-bottom__social {
  margin-right: 16px;
  padding-right: 16px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.footer-bottom__social-link {
  color: #ffffff;
  margin-right: 8px;
}
.footer-bottom__social-link:last-child {
  margin-right: 0px;
}
.footer-bottom__social-icon {
  font-size: 23px;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.footer-bottom__social-icon:hover {
  color: #cac7c7;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.footer-bottom__text {
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
  line-height: 11px;
  font-weight: 400;
  color: #ffffff;
  max-width: 400px;
  text-align: center;
}
/*
.freedoka_font();
.raleway_font();
.ptserif_font();
.quicksand_font();
*/
body.mouse .header__menu-item:hover .sub-menu {
  display: block;
}
body.touch .sub-menu {
  display: none;
}
body.touch .sub-menu.active {
  display: block;
}
body.touch .arrow-menu {
  display: block;
}
body.touch .arrow-menu.active {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
body.touch .header__menu-item {
  margin-right: 30px;
}
body.touch .header__menu-item:last-child {
  margin-right: 0px;
}
body.touch .carousel-shop__item {
  height: auto;
  overflow: auto;
}
body.touch .carousel-shop__item:hover .carousel-shop__item-image {
  margin-top: 0px;
}
@media (max-width: 965px) {
  .container {
    padding: 0 10px;
  }
}
@media (max-width: 900px) {
  .home-slider__slide {
    padding-top: 60px;
  }
  .home-slider__title {
    font-size: 60px;
    line-height: 75px;
  }
  .bottom-block {
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .bottom-block__body {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 5%;
  }
  .bottom-block__navigation {
    width: 50%;
  }
  .bottom-block__contacts {
    width: 50%;
  }
  .bottom-block__twits {
    width: 80%;
    padding-top: 30px;
  }
  .twits__top {
    margin-bottom: 20px;
  }
  .footer-nav__item {
    margin-right: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 860px) {
  .header__burger {
    display: block;
  }
  .header__nav {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 48px;
    width: 100%;
    height: 100%;
    background: rgba(255, 166, 132, 0.9);
    display: none;
    overflow: auto;
    z-index: 1;
  }
  .header__nav.active {
    display: block;
  }
  .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 10px 10px 10px 10px;
  }
  body.lock {
    overflow: hidden;
  }
  body.touch .header__menu-item {
    width: 200px;
    background: #74a543;
    border: 1px solid #fff;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .header__menu-link {
    border-top: none;
    padding-left: 10px;
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  .header__menu-link.parent {
    color: #ffea00;
    background: #648842;
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  body.touch .arrow-menu {
    background: #ff742b;
    height: 48px;
    top: -1px;
    right: 0;
    border: 1px solid #fff;
    width: 50px;
    text-align: center;
    -webkit-transition: color 300ms ease-in-out;
    -o-transition: color 300ms ease-in-out;
    transition: color 300ms ease-in-out;
  }
  body.touch .arrow-menu.active {
    color: #ffea00;
    -webkit-transition: color 300ms ease-in-out;
    -o-transition: color 300ms ease-in-out;
    transition: color 300ms ease-in-out;
  }
  body.touch .arrow-menu .fa-chevron-down {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  .sub-menu {
    top: -1px;
    left: 100%;
    margin-left: 50px;
    padding: 0;
  }
  .sub-menu::after {
    display: none;
  }
  .sub-menu__item {
    padding: 0 10px;
    line-height: 46px;
    width: 200px;
    margin: 0;
    background: #648842;
    border: 1px solid #fff;
  }
  .sub-menu__link {
    color: #fff;
  }
  .blog-testimonials__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .blog-testimonials__blog {
    width: 100%;
    padding: 0px;
    padding-top: 20px;
  }
  .blog__form {
    width: 50%;
    margin: 0 auto;
  }
  .blog__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding-bottom: 10px;
    border-bottom: 1px solid #f2f2f2;
  }
  .blog-article {
    border-bottom: none;
    padding-bottom: 0px;
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .blog-testimonials__testimonials {
    padding-top: 35px;
    margin: 0 auto;
  }
  .blog-testimonials__testimonials {
    max-width: 690px;
    width: 100%;
  }
  .our-products__item-title {
    font-size: 30px;
    line-height: 30px;
  }
}
@media (max-width: 800px) {
  .body-slider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .home-slider__title {
    font-size: 50px;
    line-height: 68px;
    padding-bottom: 10px;
  }
  .body-slider__image {
    width: 465px;
    height: 360px;
  }
  .body-slider__text {
    padding-top: 10px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 465px;
    padding-left: 10px;
  }
  .blok-info__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .blok-info__video {
    width: 480px;
    margin-bottom: 10px;
  }
  .blok-info__author {
    width: 480px;
  }
  .video-box__images {
    height: auto;
  }
  .video-box__body {
    margin-left: 8%;
  }
  .video-box {
    padding: 9% 0px;
  }
  .carousel-shop__item-image {
    height: 240px;
  }
  .footer-nav__item {
    margin-right: 0px;
    padding-right: 0px;
  }
  .footer-nav__item::after {
    display: none;
  }
  .footer-nav__list {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 100%;
  }
}
@media (max-width: 690px) {
  .home-slider__slide {
    padding-top: 40px;
  }
  .home-slider__title {
    font-size: 42px;
    line-height: 56px;
  }
  .body-slider__image {
    width: 465px;
    height: 360px;
    margin-left: 0px;
  }
  .about {
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .search__box {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  input[type="text"].search__text-input {
    width: 100%;
    height: 81px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 15px;
    border-right: 3px solid #ffeb90;
  }
  button[type="submit"].search__button {
    width: 100%;
    height: 81px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .carousel-shop__item-image {
    height: 220px;
  }
  .carousel__nav {
    height: 70px;
  }
  .carousel__nav-title {
    font-size: 34px;
  }
  .carousel-shop__item-btn {
    height: 60px;
  }
  .about-products__main {
    padding-top: 140px;
    padding-bottom: 90px;
  }
  .about-products__title {
    font-size: 38px;
    letter-spacing: 0.45em;
  }
  .about-products__text {
    font-size: 20px;
    line-height: 30px;
  }
  .our-products__item-title {
    font-size: 26px;
    line-height: 26px;
  }
  .footer-nav__list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 670px;
  }
  .footer-nav__item {
    padding-top: 20px;
    margin-right: 20px;
  }
  .footer-nav__item:last-child {
    margin-right: 0px;
  }
  .footer-bottom {
    padding: 35px 10px 38px 10px;
  }
  .footer-bottom__text {
    max-width: 320px;
  }
  .footer-nav {
    padding-top: 24px;
  }
}
@media (max-width: 600px) {
  .carousel__nav-category {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .carousel-category__list-arrow {
    display: none;
  }
  .about-products__main {
    padding-top: 100px;
    padding-bottom: 70px;
  }
  .about-products__text {
    line-height: 26px;
  }
  .blog__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .blog-article {
    width: 190px;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 10px;
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .blog-article:last-child {
    border-bottom: none;
    padding-bottom: 0px;
  }
  .blog-article__image {
    margin-bottom: 10px;
  }
  .blog-article__info {
    margin-bottom: 5px;
  }
  .blog__form {
    width: 280px;
  }
  .testimonials__body-images {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: calc(172px * 3 - 1px);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 5px 0;
  }
  .testimonials__body-images-link {
    height: 120px;
    width: 172px;
    margin: 5px;
  }
  .testimonials__body-description {
    line-height: 20px;
  }
  .our-products__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .our-products__item {
    width: 320px;
    margin-bottom: 5px;
  }
  .our-products__item:last-child {
    margin-bottom: 0px;
  }
  .bottom-block__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 10%;
    padding-top: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.7);
  }
  .bottom-block__navigation {
    width: 100%;
    padding: 38px 10px 36px 10px;
  }
  .bottom-block__contacts {
    width: 320px;
  }
  .footer-bottom {
    padding: 25px 10px 28px 10px;
  }
  .footer-bottom__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer-bottom__text {
    max-width: 100%;
  }
  .footer-bottom__social {
    border: none;
    margin-right: 0px;
    padding-right: 0px;
    margin-bottom: 10px;
  }
}
@media (max-width: 550px) {
  .home-slider__slide {
    padding-top: 30px;
  }
  .home-slider__title {
    font-size: 34px;
    line-height: 50px;
    text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.07);
  }
  .body-slider__image {
    width: 410px;
    height: 330px;
    margin-left: -45px;
  }
  ul.slick-dots {
    top: 60px;
    left: 50%;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  ul.slick-dots li {
    margin: 0;
    margin-right: 20px;
  }
  ul.slick-dots li:last-child {
    margin-right: 0px;
  }
  input[type="text"].search__text-input {
    height: 70px;
    font-size: 18px;
  }
  button[type="submit"].search__button {
    height: 70px;
  }
  .blok-info__video {
    width: 90%;
  }
  .blok-info__author {
    width: 90%;
  }
  .author-box__body {
    width: 278px;
    padding-left: 3%;
  }
  .blog-testimonials__testimonials {
    padding-top: 25px;
  }
  .testimonials__body-name {
    margin-bottom: 8px;
  }
  .testimonials__body-info {
    margin-bottom: 12px;
  }
  .testimonials__body {
    padding-bottom: 22px;
  }
  .footer-nav {
    padding-top: 18px;
  }
  .footer-bottom {
    padding: 17px 10px 20px 10px;
  }
}
@media (max-width: 470px) {
  .header__logo {
    margin-right: 0px;
  }
  .header__menu {
    width: 250px;
    margin: 0 auto;
  }
  .sub-menu {
    position: relative;
    top: 1px;
    left: -1px;
    margin-left: 0px;
    width: 200px;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  body.touch .arrow-menu .fa-chevron-down {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .home-slider__title {
    line-height: 42px;
    padding-bottom: 20px;
  }
  .body-slider__text {
    width: auto;
  }
  .body-slider__title {
    margin-bottom: 12px;
  }
  .body-slider__discription {
    margin-bottom: 16px;
  }
  .body-slider__image {
    width: 90%;
    height: 200px;
  }
  .image-price {
    width: 120px;
    height: 120px;
  }
  .image-price__icon {
    font-size: 45px;
  }
  .about {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .about__title {
    padding-bottom: 8px;
    margin-bottom: 17px;
  }
  .about__description {
    margin-bottom: 20px;
  }
  input[type="text"].search__text-input {
    height: 60px;
    padding-left: 10px;
  }
  button[type="submit"].search__button {
    height: 60px;
  }
  .video-box__title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 5px;
  }
  .video-box__icon {
    font-size: 20px;
    width: 75px;
    height: 75px;
  }
  .video-box__body {
    margin-left: 4%;
  }
  .carousel__nav-category {
    padding-right: 5px;
  }
  .carousel-category__text {
    font-size: 12px;
  }
  .carousel-category__list {
    font-size: 12px;
  }
  .carousel__nav-title {
    font-size: 26px;
  }
  .carousel__nav-arrow {
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .about-products__main {
    padding-top: 75px;
    padding-bottom: 50px;
  }
  .about-products__title {
    font-size: 34px;
    letter-spacing: 0;
    text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.07);
    padding-bottom: 25px;
    margin-bottom: 20px;
  }
  .about-products__text {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
  }
  .blog-testimonials__testimonials {
    padding-top: 20px;
  }
  .testimonials__body-name {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 5px;
  }
  .testimonials__body-info {
    margin-bottom: 10px;
  }
  .testimonials__body-text {
    font-size: 18px;
    line-height: 20px;
  }
  .testimonials__body {
    padding-bottom: 15px;
  }
  .testimonials__body-images-link {
    margin: 5px;
  }
  .testimonials__body-images-link {
    max-height: 111px;
    max-width: 160px;
  }
  .bottom-block__body {
    padding-left: 5%;
  }
  .bottom-block__twits {
    width: 95%;
  }
}
@media (max-width: 400px) {
  .carousel-shop__item-image {
    height: 200px;
  }
  .carousel__nav-title {
    display: none;
  }
  .testimonials__body-images-link {
    margin: 1px;
  }
}
@media (max-width: 370px) {
  .home-slider__title {
    font-size: 28px;
    line-height: 32px;
  }
  .body-slider__image {
    width: 80%;
  }
  .image-price {
    width: 90px;
    height: 90px;
  }
  .image-price__icon {
    font-size: 35px;
  }
  .about-products__main {
    padding-top: 60px;
    padding-bottom: 40px;
  }
  .about-products__title {
    font-size: 30px;
    padding-bottom: 20px;
    margin-bottom: 16px;
  }
  .about-products__text {
    font-size: 16px;
    line-height: 20px;
  }
  .testimonials__body-images-link {
    max-height: 103px;
    max-width: 149px;
    margin: 0px;
  }
  .our-products__item {
    width: 80%;
  }
  .bottom-block__body {
    padding-left: 0px;
  }
  .bottom-block__twits {
    width: 100%;
  }
}
